body {
    background-image: url(../UCP/image/1.png);
    background-size: cover;
}

nav {
    background-color: rgba(79, 78, 78, 0.959);
    height: 90px;
    color: azure;
}

nav p{
    font-size: 25px;
    float: left;
    padding: 5px 40px;
}

nav ul li{
    list-style: none;
    float: left;
    padding: 35px 25px;
}


header{
    height: 500px;
    width: 600px;
    background-color: rgba(193, 190, 190, 0.802);
    margin: 0px auto;
    border-radius: 40px;
    
}

header h1{
    padding-top: 20px;
    padding-left: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

header h3{
    font-family: 'Acme', sans-serif;
}

.left-div{
    padding: 0px 30px;
    width: 100px;
    display: inline-block;

}


.right-div{
    padding: 5px 30px;
    display: inline-block;
}

header p{
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.3);
    color: rgb(231, 230, 230);
    box-shadow: 1px 1px 2px rgba(1, 1, 3, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}


.content{
    background-color: rgba(124, 154, 245, 0.442);
    border-radius: 50px;
    margin: 0px 10px;
}

.content .right-div1{
    padding: 5px 20px;
    display: inline-block;
}

footer{
    background-color: aquamarine;
    margin-top: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
}